[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
azure-core = "*"
azure-ai-ml = "*"
azure-ai-formrecognizer = "*"
openai = "*"
pdfplumber = "*"
llama-index = "*"
pypdf = "*"
sentence-transformers = "*"
chromadb = "*"

[dev-packages]

[requires]
python_version = "3.11"
